:root.theme-dark {
  --color-bg: #000028;
  --color-text: #ff77ff;
  --color-accent: #ff0070;
  --color-title-text: #000028;
  --bg-image: url("../images/cover-image-dark.png");
}

:root.theme-dark .header__rec {
  display: flex;
}
