:root.theme-dark {
  --color-bg: #000028;
  --color-text: #F1B2CE;
  --color-accent: #ff0070;
  --color-title-text: #ff0070;
  --color-subtitle-text: #000028;
  --color-header: #DB00FF;
  --color-decoration: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
}

:root.theme-dark .header__rec {
  display: flex;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f3efec;
    --color-text: #353430;
    --color-accent: #FF8DCB;
    --color-title-text: #FFC2E6;
    --color-subtitle-text: #000028;
    --color-header: #DB00FF;
    --color-decoration: #ff0070;
    --bg-image: url("../images/cover-image-light.png");
  }

  .header__rec {
    display: flex;
  }

}
