:root.theme-light {
  --color-bg: #f3efec;
  --color-text: #353430;
  --color-accent: #FF8DCB;
  --color-title-text: #353430;
  --color-subtitle-text: #353430;
  --color-header: #FFC2E6;
  --color-decoration: #353430;
  --bg-image: url("../images/cover-image-light.png");
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f3efec;
    --color-text: #353430;
    --color-accent: #FF8DCB;
    --color-title-text: #FFC2E6;
    --color-subtitle-text: #000028;
    --color-header: #DB00FF;
    --bg-image: url("../images/cover-image-light.png");
  }

  .header__rec {
    display: none;
  }
}
