
:root.theme-light {
  --color-bg: #f3efec;
  --color-text: #272619;
  --color-accent: #ff8dcb;
  --color-title-text: #272619;
  --bg-image: url("../images/cover-image-light.png");
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f3efec;
    --color-text: #272619;
    --color-accent: #ff8dcb;
    --color-title-text: #272619;
    --bg-image: url("../images/cover-image-light.png");
  }

  .header__rec {
    display: none;
  }
}
