/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.title-decor {
  background-color: var(--color-accent);
  color: var(--color-text);
}

/* декоративные уголки */

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: var(--spacing);
  inset-inline-end: var(--spacing);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--color-decoration);
  border-inline-end: 1px solid var(--color-decoration);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: var(--spacing);
  inset-inline-start: var(--spacing);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--color-decoration);
  border-inline-start: 1px solid var(--color-decoration);
}

/* хедер */

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  padding: var(--spacing);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2px 13px;
  text-transform: lowercase;
  outline: none;
  color: var(--color-title-text);
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--color-title-text) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--color-title-text);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-title-text);
}

.header__rec {
  position: absolute;
  inset-block-start: var(--spacing);
  inset-inline-end:calc(var(--spacing) * 2);
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: var(--line-height);
  color: var(--color-accent);
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 4px 2px var(--color-accent);
}

.header__title {
  align-self: center;
  font-size: clamp(7.25rem, 7rem + 1vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  color: var(--color-header);
  text-shadow: 4px 4px 0 var(--color-accent);
}

.header__subtitle {
  align-self: center;
  justify-self: end;
  max-inline-size: 355px;
  font-weight: bold;
  box-sizing: border-box;
  color: var(--color-subtitle-text);
}

/* основной контент */

.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 5);
  padding: calc(var(--spacing) * 4) var(--spacing);
}

.section {
  display: grid;
  gap: calc(var(--spacing) * 2);
}

.section__title {
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--color-title-text);
}

.section__cards {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.section__card{
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.section__card-title {
  color: var(--color-subtitle-text);
  font-size: var(--font-size);
  font-weight: bold;
}

.section__card-title--wide {
  inline-size: 100%;
}

.section__card-subtitle {
  color: var(--color-subtitle-text);
  font-size: var(--font-size);
  font-weight: normal;
}

.section__card-text {
  color: var(--color-text);
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent);
}

.section__link:hover {
  border-block-end: 1px solid var(--color-text);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--color-text);
}

.gallery {
  gap: var(--spacing);
}

.gallery__title {
  font-size: var(--font-size);
  font-weight: bold;
}

.gallery__images {
  display: grid;
  gap: var(--spacing);
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/* футер */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--spacing);
}

.footer__title {
  font-size: clamp(7.25rem, 7rem + 1vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  color: var(--color-header);
  text-shadow: 2px 2px 0 var(--color-accent);
}

/* адаптив 768px */

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4vw, 9.8rem);
    margin-inline-start: calc(var(--spacing) * -1);
  }

  .header__subtitle {
    max-inline-size: 364px;
  }

  .header__rec {
    inset-inline-end: calc(1.5 * var(--spacing));
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4vw, 9.8rem);
  }

  .content {
    gap: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 3) var(--spacing);
  }

  .section--why,
  .section--tips {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing);
  }

  .section--why .section__cards{
    grid-column: 2/4;
  }

  .section--tips .section__cards{
    grid-column: 2/4;
  }

  .section--distractions {
    grid-template-columns: 1fr;
    gap:var(--spacing)
  }

  .section__cards {
    gap: calc(var(--spacing));
  }

  .section__card{
    gap: calc(0.5 * var(--spacing));
  }


  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__image--sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image--ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image--tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image--books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image--street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

/* адаптив 1024px */

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__subtitle {
    max-inline-size: 491px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .section--why .section__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);
  }

  .section--distractions .section__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing);
  }



  .section__card-title--wide {
    grid-column: 1 / -1;
  }
}
