/* Переменные тёмной темы (основная) */
:root {
  --color-bg: #000028;
  --color-text: #ff77ff;
  --color-accent: #ff0070;
  --color-title-text: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --font-family: "IBM Plex mono", monospace;
  --font-size: 18px;
  --line-height: 1.3;
  --spacing: 10px;
}

@media (width >= 768px) {
  :root {
    --spacing: 20px;
  }
}
